body {
    font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Center the content in the browser window */
.container {
    margin: auto;
    /* text-align: center; */
}

.title {
    font-size: 3rem;
}

canvas {
    /* border: 2px solid rgba(0, 0, 0, 0.199); */
    display: block;
    overflow: auto;
}

#scroll-editor-diagram {
    display: block;
    overflow: auto;
}

#scroll-editor-diagramList {
    display: block;
    overflow: auto;

    position: relative;
    left: 0px;
    top: 0px;
}

#diaList-diagramSelector {
  /* display: '';  */
  position: absolute;
    left: 0px;
    top: 0px;
}


#debug-div {
  position: absolute;
  bottom: 0;
}
